<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for choosing Seat, <%= @user.name %></h1>
    <p>
      You have successfully booked a reservation at restaurant.name,
      You have registered under the name: <%= @user.login %>.<br>
    </p>
    <p>
      To see, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>