#background { 
  background: url('https://i.imgur.com/ae9bP7g.jpg') 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}  

#background .brand { 
  font-family: 'homestead';
  color: #e74c3c;
  background: url('http://i.imgur.com/9U1O6J3.png') 50% 100px no-repeat fixed; 
  min-height: 800px; 
  padding: 0; 
  margin: 0; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  margin: 0 auto; 
  z-index: 1;
}

#black_background {
  /*thin red line*/
  background: black;
  -moz-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 2pt #e74c3c;
  margin-top: 246px !important;
  width:910px;
  float: right;
}

.noFlow {
  overflow: hidden;
}

html, body, #container { 
  height: 100% !important; 
}
body > #container { 
  height: auto; min-height: 100% !important; 
}

#footer {
  clear: both !important; 
  position: relative !important; 
  z-index: 10 !important; 
  margin-top: -3em !important; 
  bottom: -500px;
  text-align: center;
  font-family: 'homestead';
  font-size: 72px;
  background: -webkit-linear-gradient(#fff, #f1c40f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
