.body{
  background-color: transparent;
}

.navbar-default {
    background-color: transparent;
    opacity: .9;
    border: 20px;
    border-bottom-color: black;
    top: 12px;
}

.navbar-default .navbar-brand:hover {
    color: blue;
  }

.navbar-default .navbar-nav > li > a {
    color:  #ecf0f1;
    text-decoration: none;
  }

.resForm {
  text-align: center;
  opacity: 50%;
}

.numField {
  max-width: 100px;
  text-align: center;

}


.tag_line {
  font-family: homestead;
  font-size: 100px;
}


.imgSize {
  max-width: 100px;
  max-length: auto;
}

  

.btn-custom-edit {
  background-color: hsl(145, 62%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;

}


.btn-custom-delete {
  background-color: hsl(351, 92%, 23%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d20827", endColorstr="#700414");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d20827), to(#700414));
  background-image: -moz-linear-gradient(top, #d20827, #700414);
  background-image: -ms-linear-gradient(top, #d20827, #700414);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d20827), color-stop(100%, #700414));
  background-image: -webkit-linear-gradient(top, #d20827, #700414);
  background-image: -o-linear-gradient(top, #d20827, #700414);
  background-image: linear-gradient(#d20827, #700414);
  border-color: #700414 #700414 hsl(351, 92%, 18%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}


#intro{
    background:url('http://i.imgur.com/YykQECt.jpg') 50% 0 no-repeat fixed;
    color: white;
    height: 600px;
    margin: 0;
    padding: 160px 0 0 0;
    margin-bottom: 200px;
     no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#image2 .bg2{
    background:url('http://i.imgur.com/eYKiDOb.jpg') 50% 0 no-repeat fixed;
    color: black;
    height: 600px;
    margin: 0;
    padding: 160px 0 0 0;
    margin-left: -111px;
    margin-right: -111px;
     no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#image3 .bg3{
    background:url('http://i.imgur.com/58IaLH4.png') 50% 0 no-repeat fixed;
    color: white;
    height: 600px;
    margin: 0;
    padding: 160px 0 0 0;
     no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.story{
    margin: 0 auto;
    min-width: 980px;
    width: 980px;
}


#image4 .bg4{
   background: url('http://i.imgur.com/dG9HoXp.jpg') 50% 0 no-repeat fixed;
    ...
    position: absolute;
    ...
    z-index: 200;
}


