<%# add navigation links to this file %>

<% if user_signed_in? %>
<li><%= link_to 'Make Reservation', new_user_reservation_path(current_user.id), :class => "sliding-u-l-r" %> </li>

<% else %>
  <li><%= link_to 'Sign up', new_user_registration_path, :class => "sliding-u-l-r" %></li>
<% end %>
<% if user_signed_in? %>

  <% if current_user.superadmin? %>

 <li> <%= link_to 'Admin Dashboard', admin_dashboard_path, :class => "sliding-u-l-r" %> </li>
 <% end %>
<% end %>
